.main {
    margin: 0;
    padding: 0;
}


.h1 {
  height: 100%;
  flex-shrink: 0;
  background: linear-gradient(180deg, #FFECD5 0%, rgba(255, 244, 231, 0.80) 5%, white 100%);
}

.hometitle {
  position:relative;
  margin:0;
  padding-left: 4%;
  padding-top: 2%;
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

  .tree {
    z-index: -1;
    position: fixed;
    bottom: 0%;
    left: 50%;
    max-width: 70%;
    min-width:65%;
    height: 90%;
    transform: translateX(-50%) translateY(7%);
}

.kyotou {
  position: fixed;
  bottom:78%;
  left: 85%;
  width: 10%;
  height: 14%;
}

.sumitomo {
  position: fixed;
  bottom:80%;
  left: 75%;
  width: 9%;
  height: 9%;
}

.lignoFM {
  position: fixed;
  top:0.2vh;
  right: 0.2vh;
  width:14vh;
  height:7vh;
}

.about {
  position: relative;
  background:rgba(157, 250, 113, 0.74);;
  width: 15vh;
  height: 15vh;
  font-size: 3vh;
  border-radius: 50%;
  line-height: 3vh;
  transform: translateY(50%);
}

.about:hover {
  opacity:0.7;
}

.amateur {
  background:rgba(157, 250, 113, 0.74);;
  width: 15vh;
  height: 15vh;
  font-size: 3vh;
  border-radius: 50%;
  line-height: 3vh;
  overflow: hidden;
  transform: translateX(-30%) translateY(120%);
}

.amateur:hover {
  opacity:0.7;
}

.members {
  background:rgba(157, 250, 113, 0.74);;
  width: 15vh;
  height: 15vh;
  font-size: 3vh;
  border-radius: 50%;
  line-height: 3vh;
  overflow: hidden;
  transform: translateX(20%) translateY(250%);
}

.members:hover {
  opacity:0.7;
}

.gallery {
  background:rgba(157, 250, 113, 0.74);;
  width: 15vh;
  height: 15vh;
  font-size: 3vh;
  border-radius: 50%;
  line-height: 3vh;
  overflow: hidden;
  transform: translateX(30%) translateY(120%);
}

.gallery:hover {
  opacity:0.7;
}

.contact {
  background:rgba(157, 250, 113, 0.74);;
  width: 15vh;
  height: 15vh;
  font-size: 3vh;
  border-radius: 50%;
  line-height: 3vh;
  overflow: hidden;
  transform: translateX(-20%) translateY(250%);
}

.contact:hover {
  opacity:0.7;
}

.contactLink {
  text-decoration: none;
}

.contactLink, .contactLink:visited {
  color: #000;
}
  
  .content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }